<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.testscripts.Amazon_BrowserDemo"/>
      <class name="com.qa.testscripts.WebPage_Scrolling_Demo"/>
      <class name="com.qa.testscripts.DragandDrop_Method"/>
      <class name="com.qa.testscripts.ActionClass_Demo"/>
      <class name="com.qa.testscripts.RobotClass_Demo"/>
      <class name="com.qa.testscripts.FlipKart_GetCommands"/>
      <class name="com.qa.testscripts.Google_Travel"/>
      <class name="com.qa.testscripts.Zepto_Navigate_Commands"/>
      <class name="com.qa.testscripts.Amazon_Loactors"/>
      <class name="com.qa.testscripts.Handling_Alerts_Demo"/>
      <class name="com.qa.testscripts.Amazon_Drag_Drop"/>
      <class name="com.qa.testscripts.LaunchBrowser"/>
      <class name="com.qa.testscripts.Waits_Demo"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
